
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Request.IsAuthenticated)
{
    
        <!--cuerpo de la pagina  -->
    <div class="row  border-bottom white-bg dashboard-header">

        <div>
            <h2>Welcome USER</h2>
            <h2>bloque</h2>

            <center> <img src="~/Content/img/viserionairline.jpg" style="width:50%" /></center>


            <a href="~/Pais/Index "> Pais</a>
        </div>





    </div>
}
